.env
.venv/
venv/
env/
tkmod/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Data
*.zip
*.parquet

# IDEs
.vscode/
.idea/

# OS-specific
.DS_Store
Thumbs.db
